<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Task management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<table>
    <thead>
        <tr>
            <th> name </th>
            <th> description </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${tasks.empty}">
            <td colspan="2"> No tasks Available </td>
        </tr>
        <tr th:each="task : ${tasks}">
            <td><span th:text="${task.task_name}"> name </span></td>
            <td><span th:text="${task.task_description}"> description </span></td>
        </tr>
    </tbody>
</table>
</body>
</html>